$height-header: 35px;
$width-row-select: 25px;

.datagrid-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

.datagrid {
    color: white;
    height: 100%;
    flex-grow: 1;
    overflow: auto;
    position: relative;
}

.datagrid-headers,
.datagrid-row {
    display: inline-block;
    min-width: 100%;
    white-space: nowrap;
}

.datagrid-headers {
    background-color: #191919;
    height: $height-header;
    padding-left: $width-row-select;
    position: sticky;
    top: 0;
    z-index: 1;
}

.datagrid-header .datagrid-inner-pad {
    cursor: pointer;
}

.datagrid-header,
.datagrid-cell {
    display: inline-block;
    position: relative;
}

.datagrid-inner-pad {
    margin: 0.75rem;
}

.datagrid-row {
    background-color: white;
    color: black;
}

.datagrid-row:nth-child(even) {
    background-color: #f6f6f6;
}

.datagrid-resizer {
    background-color: $color-primary;
    cursor: ew-resize;
    position: absolute;
    width: 3px;
    top: 0;
    right: 0;
    bottom: 0;
}

.datagrid-row-select {
    display: inline-block;
    text-align: center;
    width: $width-row-select;
}

.datagrid-header-dropdown {
    position: absolute;
    background-color: #191919;
    top: calc(100%);
    z-index: 3;
}

.datagrid-header-dropdown-item {
    cursor: pointer;
    padding: 0.75rem;
    &:hover {
        background-color: $color-primary;
    }
}
