@import './variables';
@import'./utils';

.graph {
    background-color: $color-darker;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    letter-spacing: 0.0625em;
    position: relative;
    width: 100%;
    user-select: none;
}

.graph-connections,
.graph-nodes {
    position: absolute;
    width: 100%;
    height: 100%;
}

.graph-node {
    background-color: $color-bg-interface;
    border-radius: $border-radius;
    border: $border-interface;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.graph-node-body {
    display: flex;
}

// header

.graph-node-header {
    background-color: #1e1e1e;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    color: $color-lighter;
    cursor: move;
    align-items: center;
    display: flex;
    padding: 0.5rem;
}

.graph-node-header-title {
    flex-grow: 1;
    font-size: 1.2rem;
    text-align: center;
    margin-left: 2.5rem;
    pointer-events: none;
}

.graph-node-header-close-icon {
    @include flex-center;
    background-color: transparent;
    cursor: pointer;
    user-select: initial;
    pointer-events: all;
    width: 2rem;
    height: 2rem;
    border-radius: 100px;
    transition: background-color 0.5s ease;
    margin-left: 0.5rem;

    &:hover {
        background-color: $color-primary;
    }
}

// ports

.graph-node-wrap-port {
    height: 20px;
    position: relative;
}

.graph-node-port {
    position: absolute;
    right: -4px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.graph-node-port.out {
    right: auto;
    left: -4px;
}

.graph-node-port-connector {
    cursor: pointer;
    width: 10px;
    height: 10px;
    background-color: #959595;
    border-radius: 10px;
    position: relative;
}

.graph-node-port-label {
    color: $color-light;
    margin-right: 0.25rem;
}

.graph-node-port.out .graph-node-port-label {
    margin-left: 0.5rem;
    margin-right: 0;
}

.graph-node-port.connected .graph-node-port-label {
    color: $color-light;
}

.graph-node-port-overlay {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: #ff7d0080;
    border-radius: 10px;
    position: absolute;
    left: -5px;
    top: -5px;
    pointer-events: all;
}

.graph-node-ports {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// fields

.graph-node-fields {
    flex-grow: 1;
    padding: 1rem;
    padding-bottom: 0.5rem;
}

.graph-node-field {
    margin-bottom: 0.5rem;
}

.graph-node-field-label {
    text-align: center;
    color: $color-light;
    margin-bottom: 0.5rem;
}

.graph-connection,
.graph-drag-connection {
    stroke: $color-primary;
}

.graph-node-field:not(:last-child) {
    margin-bottom: 10px;
}

.text-input {
    width: 120px;
}
