@import 'variables';

.graph-menu {
    display: flex;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.graph-menu-item-wrap-dropdown {
    position: relative;
}

.graph-menu-item {
    background-color: rgba($color-dark, 0.25);
    display: flex;
    color: $color-light;
    border-radius: $border-radius;
    border: 1px solid $color-grey;
    cursor: pointer;
    padding: 1rem;
    &:hover {
        border-color: $color-primary;
    }
}

.graph-menu-item-icon {
    margin-right: 0.5rem;
}

.wrap-graph-menu-dropdown {
    position: relative;
    height: 0;
    margin-top: 1rem;
}

.graph-menu-dropdown {
    background-color: $color-bg-interface;
    border: $border-interface;
    color: $color-light;
    position: absolute;
    border-radius: $border-radius;
    min-width: 100%;
}

.graph-menu-dropdown-group {
    margin-bottom: 0.5rem;
}

.graph-menu-dropdown-group-label {
    color: $color-primary;
    padding: 0.5rem;
    pointer-events: none;
    font-weight: 700;
    text-align: center;
}

.graph-menu-dropdown-item {
    cursor: pointer;
    display: flex;
    padding: 0.5rem;
    align-items: center;
    &:hover {
        background-color: $color-primary;
    }
}

.graph-menu-dropdown-item-label {
    margin-right: 0.5rem;
    flex-grow: 1;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
