@import './variables';

.modal {
    align-items: center;
    display: flex;
    flex-direction: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.modal-overlay {
    background-color: rgba(70, 70, 70, 0.25);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.modal-content {
    max-height: calc(100% - 40px);
    overflow: hidden;
    position: relative;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .modal-content {
        width: 640px;
    }
}
