@import './variables';

.ngr-modal {
    align-items: center;
    display: flex;
    flex-direction: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.ngr-modal-overlay {
    background-color: rgba(70, 70, 70, 0.25);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.ngr-modal-content {
    background-color: rgba(21, 21, 21, 0.85);
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);
    padding: 1rem;
    position: relative;
}

.ngr-modal-body {
    flex-grow: 1;
    overflow-y: auto;
}

.ngr-modal-footer {
    margin-top: 1rem;
    text-align: end;
    .ngr-btn {
        margin-left: 0.5rem;
    }
}

@media only screen and (min-width: 768px) {
    .ngr-modal-content {
        width: 640px;
    }
}

.ngr-btn {
    background-color: $color-grey;
    border: 0;
    border-radius: $border-radius;
    color: $color-light;
    cursor: pointer;
    padding: 0.5rem 1rem;

    &:hover {
        background-color: lighten($color-grey, 5%);
        color: $color-white;
    }
}

.ngr-btn.primary {
    background-color: $color-primary;
    color: white;
    &:hover {
        background-color: lighten($color-primary, 5%);
    }
}
