$color-darker: #151515;
$color-white: white;
$color-lighter: #d7d7d7;
$color-light: #cccccc;
$color-grey: #6c6c6ccc;
$color-dark: #2d2d2d;
$color-primary: #578fd5;
$color-bg-interface: rgba(62, 62, 62, 0.75);
$border-interface: 1px solid #6c6c6ccc;

$border-radius: 5px;