.form-btn {
    @apply bg-secondary cursor-pointer py-2 px-3 border-0 rounded;
    position: relative;
}

.form-btn:hover::before {
    @apply absolute inset-0;
    content: '';
    background-color: rgba(255, 255, 255, 0.2);
}

.form-btn.primary {
    @apply bg-primary;
}

/* .form-btn.warn {
    @apply bg-warn;
}

.form-btn.danger {
    @apply bg-danger;
} */

.form-label {
    @apply mb-1 text-center font-bold;
    color: #e3e3e3;
}

.form-control {
    @apply bg-control rounded p-2 outline-none border-none;
    transition: background-color 0.5s ease;
}

.form-control:focus {
    @apply bg-control-hlight;
}

.form-control-sm {
    width: 80px;
}
