.graph-svg {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    letter-spacing: 0.0625em;
}

.graph-node {
    fill: grey;
}

.graph-node-title {
    fill: white;
    user-select: none;
    pointer-events: none;
}

.graph-node-close-overlay {
    cursor: pointer;
    fill: transparent;
    transition: 0.5s fill ease;
}

.graph-node-close-overlay:hover {
    fill: black;
}

.graph-node-close-icon {
    color: white;
    text-align: center;
}

.graph-node-port {
    fill: black;
}

.graph-connection {
    stroke: black;
}

.graph-node-port-overlay {
    fill: #ff7a00ba;
}

.graph-connection.connected {
    stroke: orange;
}



/* .graph-container {
    --text-color: #cecece;
    --text-color-dark: #9c9c9c;
    --alt-color: #ff811e;
    --node-container-color: #58585894;
    --node-header-color: #303030;
    --node-border-color: #676767;
    --node-inset-color: #202020;
    --node-overlay-color: #ffffff1a;
    --node-header-height: 30px;
    --graph-bg-color: #202020;
    background-color: var(--graph-bg-color);
    color: var(--text-color);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100vh;
    letter-spacing: 0.0625em;
    position: relative;
}

.graph-container * {
    box-sizing: border-box;
}

.graph-svg {
    width: 100%;
    height: 100%;
}

.graph-node {
    background-color: var(--node-container-color);
    border: 1px solid var(--node-border-color);
    display: flex;
    flex-direction: column;
    position: absolute;
    user-select: none;
}

.graph-node-header {
    align-items: center;
    background: var(--node-header-color);
    display: flex;
    height: var(--node-header-height);
}

.graph-node-body {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.graph-node-title {
    cursor: grab;
    flex-grow: 1;
    height: 100%;
    line-height: var(--node-header-height);
    padding-left: var(--node-header-height);
    text-align: center;
}

.graph-node-ports {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.graph-node-port-group {
    display: flex;
    align-items: center;
    padding: 3px 0;
    margin-left: -7px;
    margin-right: 0;
}

.graph-node-port-group.out {
    margin-left: 0;
    margin-right: -7px;
}

.graph-node-port-group.connectable .graph-node-port {
    background-color: #ff811e96;
}

.graph-node-port-label {
    color: var(--text-color-dark);
    margin: 0 7px;
}

.graph-node-port {
    background-color: var(--node-inset-color);
    border: 1px solid var(--node-border-color);
    border-radius: 10px;
    cursor: crosshair;
    height: 12px;
    width: 12px;
}

.graph-node-port-group.connected > .graph-node-port {
    background-color: var(--alt-color);
}

.graph-node-close {
    background-color: transparent;
    border-radius: 50px;
    color: var(--alt-color);
    cursor: pointer;
    height: 25px;
    line-height: 25px;
    margin-right: 5px;
    text-align: center;
    pointer-events: all;
    transition: 0.5s background-color ease;
    width: 25px;
}

.graph-node-close:hover {
    background-color: var(--node-overlay-color);   
}

.graph-node-fields {
    padding: 0 2px;
}

.graph-node-field {
    margin-bottom: 7px;
    width: 100px;
}

.graph-node-field-label {
    color: #b7b7b7;
    font-size: 10px;
    margin-bottom: 3px;
}

.text-input {
    min-width: 0;
    width: 100%;
}

.graph-connection {
    stroke: #ff811e96;
}

.graph-connection.connected {
    stroke: var(--alt-color);
} */
