.fade-down {
    opacity: 0;
    transform: translate(0, -20px);
    transition-property: opacity, transform;
    transition-duration: 0.5s;
}

.fade-down.in {
    opacity: 1;
    transform: translate(0, 0);
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    top: 0;
    left: 0;
}
