
.graph {
    --bg-color: #151515;
    --bg-color-node: #6c6c6ccc;
    --color-lighter: #d7d7d7;
    --color-light: #cccccc;
    background-color: var(--bg-color);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    letter-spacing: 0.0625em;
    position: relative;
    width: 100%;
}

.graph-connections,
.graph-nodes {
    position: absolute;
    width: 100%;
    height: 100%;
}

.graph-node {
    background-color: var(--bg-color-node);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.graph-node * {
    user-select: none;
    pointer-events: none;
}

.graph-node-header {
    color: var(--color-lighter);
    display: flex;
    align-items: center;
    background-color: #3a3a3a;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    padding: 7px 10px;
    font-size: 1.1em;
}

.graph-node-header-title {
    margin-left: 20px;
    text-align: center;
    flex-grow: 1;
}

.graph-node-header-close-icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    user-select: initial;
    pointer-events: all;
}

.graph-node-body {
    display: flex;
    padding: 10px 0;
}

.graph-node-port {
    display: flex;
    margin: 3px 0;
}

.graph-node-ports {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
}

.graph-node-ports.out {
    align-items: flex-end;
}

.graph-node-port {
    display: flex;
    align-items: center;
}

.graph-node-port-wrap-connector {
    width: 0px;
    height: 0px;
    position: relative;
    margin-right: 7px;
    margin-left: 0;
}

.graph-node-port.out > .graph-node-port-wrap-connector {
    margin-left: 7px;
    margin-right: 0;
}

.graph-node-port-connector {
    cursor: pointer;
    width: 12px;
    height: 12px;
    background-color: #959595;
    border-radius: 10px;
    position: absolute;
    left: -6px;
    top: -6px;
    user-select: initial;
    pointer-events: all;
}

.graph-node-field-label {
    margin: 3px 0;
    color: var(--color-light);
}

.graph-node-port.connected .graph-node-port-label {
    color: var(--color-light);
}

.graph-node-port.connected .graph-node-port-connector {
    background-color: #b8b8b8;
}

.graph-node-port-overlay {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: #ffa50087;
    border-radius: 10px;
    position: absolute;
    left: -10px;
    top: -10px;

    user-select: initial;
    pointer-events: all;
}

.graph-node-port-label {
    margin: 0 5px;
}

.graph-node-header-close-icon * {
    position: abs;
}

.graph-connection {
    stroke: orange;
}

.graph-drag-connection {
    stroke: orange;
}

.graph-node-fields {
    margin: 0 5px;
}

.graph-node-field:not(:last-child) {
    margin-bottom: 10px;
}

.graph-node-field-label {
    margin-bottom: 3px;
}

.graph-node-field-input * {
    user-select: all;
    pointer-events: initial;
}

.text-input {
    width: 120px;
}
