@import './variables';

.ngraph-dropdown-menu {
    color: white;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 100%;
}

.ngraph-dropdown-menu-item {
    background-color: $modal-bg;
    cursor: pointer;
    padding: 0.5rem;
    white-space: nowrap;
    &:hover {
        background-color: $primary;
    }
}
