
.ngraph-header {
    align-items: center;
    justify-content: center;
    // background-color: $header-bg;
    display: flex;
    padding: 0.75rem;
}

.ngraph-header-mid {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.ngraph-header-label {
    color: $text-label;
    margin-right: 0.75rem;
}

.ngraph-templates {
    align-items: center;
    display: flex;
}
