

.ngr-ml-2 {
    margin-left: 0.5rem;
}

.ngr-mr-1 {
    margin-right: 0.25rem;
}

.ngr-mr-2 {
    margin-right: 0.5rem;
}

.ngr-mb-2 {
    margin-bottom: 0.5rem;
}

.ngr-mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.ngr-flex {
    display: flex;
}

.ngr-flex-column {
    display: flex;
    flex-direction: column;
}

.ngr-flex-grow-1 {
    flex-grow: 1;
}

.ngr-flex-grow-2 {
    flex-grow: 2;
}

.ngr-align-center {
    align-items: center;
}

.ngr-flex-center-v {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ngr-width-100 {
    width: 100%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}
