
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}

// .text-center {
//     text-align: center;
// }

// .flex {
//     display: flex;
// }

// .flex-grow {
//     flex-grow: 1;
// }

// .flex-col {
//     flex-direction: column;
// }

// .items-center {
//     align-items: center;
// }

// .justify-center {
//     justify-content: center;
// }

// .px-2 {
//     padding-left: .5rem;
//     padding-right: .5rem;
// }

// .p-2 {
//     padding: .5rem;
// }

// .ml-2 {
//     margin-left: .5rem;
// }

// .h-full {
//     height: 100%;
// }
