.datagrid-container {
    background-color: $color-lighter;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 0;
    overflow: auto;
}

.datagrid {
    display: grid;
}

.datagrid-headers,
.datagrid-body,
.datagrid-row {
    display: contents;
}

.datagrid-row {
    background-color: $color-lightest;
    position: relative;
}

.datagrid-row:nth-child(even) {
    background-color: $color-lighter;
}

.datagrid-row-actions {
    cursor: pointer;
    float: right;
    position: relative;
}

.datagrid-row-actions:hover {
    color: $color-primary;
}

.datagrid-header {
    background-color: $color-control-container;
    display: flex;;
    padding: 1rem 0.5rem;
    position: sticky;
    top: 0;
}

.datagrid-header-title {
    flex-grow: 1;
}

.datagrid-header-dropdown-icon {
    cursor: pointer;
    padding: 0 0.5rem;
    margin-right: 0.5rem;
}

.datagrid-resizer {
    background-color: $color-primary;
    cursor: ew-resize;
    position: absolute;
    width: 3px;
    top: 0;
    right: 0;
    bottom: 0;
}

.datagrid-cell {
    color: black;
    background-color: inherit;
    padding: 0.75rem 1rem;
}

.datagrid-text-editable-label {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.datagrid-text-editable-label:hover {
    text-decoration: underline;
}

.datagrid-text-editable-input {
    width: 100%;
    max-width: 150px;
}

.datagrid-text-editable-input.dark {
    color: black;
}

.bg-inherit {
    background-color: inherit;
}

.display-contents {
    display: contents;
}

.datagrid-cell-label {
    white-space: nowrap;
}

.datagrid-cell-label:hover {
    cursor: pointer;
    display: inline;
    text-decoration: underline;
}
