.dropdown-menu {
    color: white;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 100%;
}

.dropdown-menu.right {
    right: 0;
    left: auto;
}

.dropdown-menu-item {
    background-color: $color-control-container;
    cursor: pointer;
    padding: 0.5rem;
    white-space: nowrap;
    &:hover {
        background-color: $color-primary;
    }
}

.dropdown-menu-title {
    background-color: $color-control-container;
    cursor: auto;
    padding: 0.5rem;
    white-space: nowrap;
}
