.modal {
    align-items: center;
    display: flex;
    flex-direction: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.modal-overlay {
    background-color: rgba(70, 70, 70, 0.25);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.modal-content {
    background-color: $color-control-container;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);
    max-width: 768px;
    width: 100%;
    position: relative;
}

.modal-footer {
    padding: 0.5rem;
    text-align: end;
    .btn {
        margin-left: 0.5rem;
    }
}
