.chart {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chart-footer {
    padding: 0.5rem;
}

.wrap-chart-canvas {
    flex-grow: 1;
}

.chart-canvas {
    width: 100%;
    height: 100%;
}
