.ngraph-contextmenu {
    position: absolute;
    border-radius: 7px;
    background-color: $grey-7;
    color: $grey-0;
    min-width: 100px;
    padding-bottom: 0.5rem;
}

.ngraph-contextmenu-header {
    color: $primary;
    font-weight: 700;
    padding: 0.5rem 0.75rem;
    font-size: 1.1em;
    text-align: center;
}

.ngraph-contextmenu-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    text-align: center;

    &:hover {
        background-color: #0d6dcc;
        color: white;
    }
}

.ngraph-contextmenu-item-label {
    flex-grow: 1;
    padding: 0.25rem 0.5rem;
}
