@import './variables';

.ngraph-dropdown-menu {
    background-color: $grey-1;
    border-radius: 3px;
    color: $grey-7;
    z-index: 1;
    font-size: 1rem;
    font-weight: initial;
}

.ngraph-dropdown-menu-title {
    padding: 0.5rem;
    text-align: center;
    font-size: 1.1em;
    font-weight: 700;
    border-bottom: 1px solid $grey-3;
}

.ngraph-dropdown-menu-option {
    cursor: pointer;
    padding: 0.5rem 0.75rem;
    white-space: nowrap;

    &:hover {
        background-color: $primary;
    }
}

.ngraph-dropdown-arrow,
.ngraph-dropdown-arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;
}

.ngraph-dropdown-arrow::before {
  content: '';
  transform: rotate(45deg);
  background: $grey-1;
}

.ngraph-dropdown-menu[data-popper-placement^='top'] > .ngraph-dropdown-arrow {
    bottom: -4px;
}

.ngraph-dropdown-menu[data-popper-placement^='bottom'] > .ngraph-dropdown-arrow {
    top: -4px;
}

.ngraph-dropdown-menu[data-popper-placement^='left'] > .ngraph-dropdown-arrow {
    right: -4px;
}

.ngraph-dropdown-menu[data-popper-placement^='right'] > .ngraph-dropdown-arrow {
    left: -4px;
}
