.ngraph-editor {
    background: url('../../img/triangles.png');
    background-color: $grey-0;
    color: $grey-7;
    display: flex;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    letter-spacing: 0.0625em;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.ngraph-editor * {
    box-sizing: border-box;
    line-height: 1.5;
}

.ngraph-editor-content {
    cursor: grab;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    &.scrolling {
        cursor: grabbing;
    }
}

.ngraph-graph-connections {
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.ngraph-graph-connection,
.ngraph-graph-connection-drag {
    stroke: $primary;
    fill: none;
}

.ngraph-edit-json-input {
    flex-grow: 1;
    resize: none;
    margin: 1.5rem;
}

.ngraph-nodes {
    position: absolute;
    user-select: none;
}

.ngraph-overflow-auto {
    overflow: auto;
}
