@import './variables';

.ngraph-preview {
    background-color: $grey-1;
    display: flex;
    flex-direction: column;
    border: 1px solid $grey-3;
    border-radius: 7px;
    overflow: hidden;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
}

.ngraph-preview-header {
    align-items: center;
    display: flex;
    padding: 0.75rem;
}

.ngraph-preview-header-autoupdate {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    color: #aeaeae;
}

.ngraph-preview-header-title {
    flex-grow: 1;
}

.ngraph-preview-header-icon {
    cursor: pointer;
    margin-left: 0.75rem;
}

.ngraph-preview-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 300px;
    height: 300px;
}
  
.ngraph-preview-selector {
    padding: 0.5rem;
    border: none;
    border-radius: 3px;
    margin-bottom: 0.5rem;
}
  
.ngraph-preview-body {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}

.ngraph-preview-content {
    background-color: white;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.ngraph-preview-update-overlay {
    align-items: center;
    background-color: #0000003d;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
