
.ngraph-sidebar {
    background-color: #0e0e0e;
    color: #e3e3e3;
}

.ngraph-nodelist {
    margin-top: 2rem;
}

.ngraph-nodelist-group {
    border-bottom: 1px solid #212121;
}

.ngraph-nodelist-group-header {
    align-items: center;
    color: $primary;
    cursor: pointer;
    display: flex;
    padding: 0.5rem;
    padding-left: 2rem;

    &:hover {
        color: #80bfff;
    }
}

.ngraph-nodelist-header-expander {
    margin-right: 1.5rem;
}

.ngraph-nodelist-header-text {
    font-size: 1.1em;
}

.ngraph-nodelist-group-items {
    padding-left: 2rem;
    overflow: hidden;
    transition: height 0.5s;
}

.ngraph-nodelist-item {
    cursor: grab;
    display: flex;
    margin-left: 2rem;
    padding: 0.5rem;
    width: 150px;
}

.ngraph-nodelist-item.dragging {
    opacity: 0.3;
}

.ngraph-nodelist-item-text {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
