
.ngraph-sidebar {
    background-color: #0e0e0e;
    color: #e3e3e3;
    width: 250px;
}

.ngraph-nodelist {
    margin-top: 2rem;
}

.ngraph-nodelist-group {
    border-bottom: 1px solid #212121;
}

.ngraph-nodelist-group-header {
    align-items: center;
    color: $primary;
    cursor: pointer;
    display: flex;
    padding: 0.5rem;
    padding-left: 2rem;

    &:hover {
        color: #80bfff;
    }
}

.ngraph-nodelist-header-expander {
    width: 2rem;
}

.ngraph-nodelist-header-text {
    font-size: 1.1em;
}

.ngraph-nodelist-group-items {
    padding-left: 2rem;
    overflow: hidden;
    transition: height 0.5s;
}

.ngraph-nodelist-header-expander {

}

.ngraph-nodelist-item {
    margin-left: 2rem;
    padding: 0.5rem;
}
