.ngraph-table-container {
    bottom: 0;
    position: absolute;
    left: 0;
    overflow: auto;
    top: 0;
    right: 0;
}

.ngraph-table {
    display: grid;
    user-select: none;
}

.ngraph-table-headers,
.ngraph-table-row {
    display: contents;
}

.ngraph-table-row {
    background-color: white;
}

.ngraph-table-row:nth-child(even) {
    background-color: #f8f8f8;
}

.ngraph-table-header,
.ngraph-table-cell {
    align-items: center;
    display: flex;
    height: 30px;
    min-width: 0;
    padding: 0 0.5rem;
}

.ngraph-table-cell {
    background-color: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ngraph-table-cell.selected {
    border: 1px solid #2e94fb;
    background-color: #2e94fb40;
}

.ngraph-table-cell-value {
    width: 100%;
}

.ngraph-table-row-handle {
    border-right: 1px solid #e3e3e3;
    cursor: grab;
    justify-content: center;
    text-align: center;
}

.ngraph-table-header {
    background-color: white;
    font-weight: 700;
    position: relative;
}

.ngraph-table-header.dragging,
.ngraph-table-row.dragging {
    background-color: #d3e9ff;
    z-index: 1;
}

.ngraph-table-header-handle {
    cursor: grab;
    padding: 0 0.5rem;
}

.ngraph-table-header-resizer {
    bottom: 0;
    cursor: ew-resize;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    background-color: grey;
}

.ngraph-table-header-text {
    flex-grow: 1;  
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ngraph-table-footer {
    padding: 0.25rem;

    .ngraph-btn {
        margin-right: 0.25rem;
    }
}

.ngraph-table-value-editor {
    border: none;
    background-color: $grey-2;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    min-width: 0;
    transition: background-color 0.5s ease;
    outline: none;

    &:focus {
        background-color: lighten($grey-2, 10%);
    }
}
