
.ngraph-subgraph-node {
    display: flex;
    flex-direction: column;
}

.ngraph-subgraph-container {
    display: flex;
    flex-direction: column;
    border: 1px solid $grey-3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ngraph-node.selected .ngraph-subgraph-container {
    border-color: $primary;
}
