.ngraph-text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ngraph-p-2 {
    padding: 0.5rem;
}

.ngraph-mb-1 {
    margin-bottom: 0.25rem;
}

.ngraph-mb-2 {
    margin-bottom: 0.5rem;
}

.ngraph-mt-2 {
    margin-top: 0.5rem;
}

.ngraph-my-5 {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.ngraph-text-center {
    text-align: center;
}

.ngraph-text-label {
    font-size: 0.8rem;
    color: #cdcdcd;
    margin-bottom: 2px;
}

.ngraph-flex-grow {
    flex-grow: 1;
}

.ngraph-flex-center-h {
    display: flex;
    justify-content: center
}

.ngraph-text-h1 {
    color: $primary-2;
    font-size: 1.2rem;
}

.hidden {
    visibility: hidden;
}
