$primary: #2d94fb;
$secondary: #6c6c6c;

$text-light: #ffffff;
$text-dark: black;
$text-label: #cdcdcd;

$field-input-bg: #2d2d2d;
$modal-bg: #151515;
$modal-border: #323232;
$datagrid-row-odd-bg: #252525;
$datagrid-row-even-bg: #151515;
$graph-bg: #151515;

$graph-node-bg: #4a4a4abf;
$graph-node-border: #6a6a6acc;
$graph-node-header-bg: #242424;

$context-menu-bg: #f3f3f3;
$input-bg: #2d2d2d;
$input-color: #f3f3f3;
$header-bg: rgba(#313131, 0.5);